@import "./components/home/footer";
@import "./components/home/header";
@import "./components/home/posts";
@import "./components/home/works";
@import "./components/home/blog/footerBlog";
@import "./components/home/blog/headerBlog";
@import "./components/home/blog/mainBlog";
@import "./utiles/placeholder";
@import "./components/home/work/footerWork.scss";
@import "./components/home/work/headerWork.scss";
@import "./components/home/work/mainWork.scss";

.container {
  width: 339px;
  margin: 0 auto;
}

.desktop {
  display: block;
}

@media screen and (min-width: 1024px) {
  .container {
    width: 858px;
  }
  .desktop {
    display: block;
  }
}
* {
  margin: 0;
  padding: 0;
}
.view-all {
  color: #00a8cc;
  text-decoration: none;
  display: none;
  @extend %font;
  font-weight: 400;
  font-size: 16px;
  align-items: center;
  vertical-align: center;
  padding-top: 25px;
}
@media screen and (min-width: 1024px) {
  .view-all {
    display: block;
  }
  .view-all-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .posts-title {
    margin: 0;
  }
}
.desktop {
  display: none;
}
@media screen and (min-width: 1024px) {
  .desktop {
    display: block;
  }
}

.header-item:hover {
  color: #ff6464;
}
