@import './components/home/footer';
@import './components/home/header';
@import './components/home/posts';
@import './components/home/works';
@import './components/home/blog/footerBlog';
@import './components/home/blog/headerBlog';
@import './components/home/blog/mainBlog';

.container{
    width: 354px;
    margin: 0 auto;
}
*{
    margin: 0;
    padding: 0;
}
.view-all{
    color: #00A8CC;
    text-decoration: none;
    display: none;
    @extend %font;
    font-weight: 400;
    font-size: 16px;
}
.desktop{
    display: none;
}