.main {
}
.main-title {
    width: 62px;
    height: 60px;
    @extend %font;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 18px;
}
.main-list {
}
.main-item {
}
.blog-title {
}
.blog-date {
}
.blog-dop {
}
.blog-paragraph {
}